html {
    background: #faf9e6;
}

body {
    background: #202020;
    margin: 0;
    height: 130px;
}

p {
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input:read-only {
    background: lightgray;
}

.menu,
.menu table {
    height: 130px;
    margin-left: 40%;
    position: relative;
    width: 12%; /* Ширина таблицы */
    /*border: 1px solid #399; !* Граница вокруг таблицы *!*/
    border-spacing: 7px 5px; /* Расстояние между границ */
    top: 55%;
}

.menu td {
    /*border: 1px solid red;*/
    border-spacing: 40px;
    color: aliceblue;
}

a {
    color: aliceblue !important;
    text-decoration: none
}