<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All sales list</title>
    <link th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {
            padding: 20px;
        }

        .sale, .sale td {
            margin-top: 10%;
            margin-left: 15%;
        }
    </style>
</head>
<body>
<table class="menu">
    <thead>
    <tr>
        <th>
            <a th:href="@{/strandElectro}">Каталог</a>
        </th>
        <th>
            <a th:href="@{/sale}">Акции</a>
        </th>
    </tr>
    </thead>
</table>
<table class="sale">
    <tbody>
    <tr th:each="saleDTO : ${saleDTOList}">
        <td width="400" height="400">
            <img th:src="@{${saleDTO.getImage()}}" alt="avatar" height="400" width="400"/>
        </td>
        <td width="700" height="400">
            <table width="700" height="400">
                <tr>
                    <td height="70" th:text="${saleDTO.title}">title</td>
                </tr>
                <tr>
                    <td height="330" th:align="top" th:text="${saleDTO.description}">description</td>
                </tr>
            </table>
        </td>
        <td>
            <form id="view-form" th:method="GET" th:action="@{/sale/{id}(id=${saleDTO.id})}">
                <input type="submit" value="Отобразить"/>
            </form>
        </td>
        <td>
            <form id="edit-form" th:method="GET" th:action="@{/sale/edit/{id}(id=${saleDTO.id})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>
        <td>
            <form id="delete-form" th:method="POST" th:action="@{/sale/delete(id=${saleDTO.id})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/sale/new}">Добавить</a>
</body>
</html>