<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit sale</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:method="POST" th:action="@{/sale/edit}" th:object="${saleDTO}" enctype="multipart/form-data">

    <h1>Product info:</h1>

    <div class="row">
        <label for="id-input">Идентификатор:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}"/>
    </div>
    <div class="row">
        <label for="title-input">Название:</label>
        <input id="title-input" type="text" th:field="*{title}"/>
    </div>
    <div class="row">
        <label for="description-input">Описание:</label>
        <input id="description-input" type="text" th:field="*{description}"/>
    </div>
    <img th:src="@{${saleDTO.getImage()}}" alt="avatar" height="400" width="400"/>
    <div class="form-group">
        <label for="image">Upload image</label>
        <input id="image" type="file" name="file"/>
    </div>
    <div class="row">
        <button type="submit">Обновить</button>
    </div>

</form>
</body>
</html>