<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Create product</title>
    <link th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<table class="menu">
    <thead>
    <tr>
        <td>
            <a th:href="@{/product}">Каталог</a>
        </td>
        <td>
            <a th:href="@{/sale}">Акции</a>
        </td>
<!--        <th>-->
<!--            <a th:href="@{/sale}">Контакты</a>-->
<!--        </th>-->
<!--        <th>-->
<!--            <a th:href="@{/sale}">Доставка</a>-->
<!--        </th>-->
    </tr>
    </thead>
</table>
</body>
<!-- LOLOLO -->
</html>