<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit strandElectro</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:method="POST" th:action="@{/strand/electro/edit}" th:object="${strandElectro}" enctype="multipart/form-data">

    <h1>Product info:</h1>

    <div class="row">
        <label for="id-input">Идентификатор:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}"/>
    </div>
    <div class="row">
        <label for="title-input">Наименование:</label>
        <input id="title-input" type="text" th:field="*{title}"/>
    </div>
    <div class="row">
        <label for="description-input">Описание:</label>
        <input id="description-input" type="text" th:field="*{description}"/>
    </div>
    <div class="row">
        <label for="price-input">Цена:</label>
        <input id="price-input" type="text" th:field="*{price}"/>
    </div>
    <div class="row">
        <label for="gauge-input">Калибр:</label>
        <input id="gauge-input" type="text" th:field="*{gauge}"/>
    </div>
    <div class="row">
        <label for="countryOrigin-input">Страна производства:</label>
        <input id="countryOrigin-input" type="text" th:field="*{countryOrigin}"/>
    </div>
    <img th:src="@{${strandElectro.image}}" alt="avatar" height="200" width="200"/>
    <div class="form-group">
        <label for="image">Upload image</label>
        <input id="image" type="file" name="file"/>
    </div>
    <div class="row">
        <button type="submit">Обновить</button>
    </div>

</form>
</body>
</html>